<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.registry.mch.mchpregnancyguide" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PregnancyInfoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="app.registry.mch.mchpregnancyguide" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name=".VisitActivity"
            android:label="@string/title_activity_visit"
            android:parentActivityName=".PregnancyInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.registry.mch.mchpregnancyguide.PregnancyInfo" />
        </activity>
        <activity
            android:name=".Recommendations"
            android:label="@string/title_activity_recommendations"
            android:parentActivityName=".PregnancyInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.registry.mch.mchpregnancyguide.PregnancyInfo" />
        </activity>
        <activity android:name=".PregnancyGuideWidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".PregnancyGuideWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pregnancy_guide_widget_info" />
        </receiver>
    </application>

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
